html {
  font-family: sans-serif;
  font-size: 20px;
  padding-left: 20px;
}

.joke-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  overflow: scroll;
  width: max-content;
}

.joke-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  padding: 0;
}

.joke-button img {
  width: 150px;
}
